.body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

.caixa {
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    width: 375px;
    height: 80px;

    position: fixed;

    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
}

header .logo img {
    width: 75px;
    height: 70px;

    left: 22px;
    position: relative;
}

header .icone-pessoas ion-icon {
    width: 52px;
    height: 42px;

    right: 22px;
    position: relative;
}

main {
    position: absolute;

    background-color: #f3f3f3;

    bottom: 80px;
    top: 80px;
}

main .mensagens {
    font-family: 'Roboto', sans-serif;

    margin-top: 26px;
    height: 100%;
    

    display: flex;
    flex-direction: column;
    
    gap: 4px;
    font-size: 14px;
}

.caixa-enviar-mensagem {
    bottom: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

input {
    border: none;
    margin-left: 17px;
}

input::placeholder {
    height: auto;
    width: auto;
    text-align: left;
    font-size: 18px;
    font-style: italic;
    color: #000000;
 }

.caixa-enviar-mensagem .icone-enviar ion-icon {
    width: 26px;
    height: 26px;

    margin-right: 18px;
}

.status {
    background-color: #DCDCDC;
    border-radius: 2px;

    padding: 12px;
}

.message {
    background-color: #ffffff;
    border-radius: 2px;

    padding: 12px;
}

.private-message {
    background-color:  #FFDEDE;
    border-radius: 2px;

    padding: 12px;
}

.horario{
    color: #AAAAAA;
}

.usuario {
    font-weight: bold;
}
